Repository shahadat3669/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npm run format"],
  "*.{json,yaml}": ["prettier --write"]
}

:truck: chore(deps): install clsx and tailwind-merge
  package-lock.json
  package.json
Due: prettier --write

:sparkles: feat(utils): add 'cn' function combining clsx and tailwind-merge
  libs/utils.ts
Due: npm run format

:sparkles: feat: integrate headlessui and react-icons
  package-lock.json
  package.json
Due: prettier --write

:sparkles: feat: integrate react-countup and react-visibility-sensor packages
  package-lock.json
  package.json
Due: prettier --write

:art: style(tailwind): configure Josefin Sans, Open Sans, and Montserrat font families
  app/layout.tsx
  tailwind.config.ts
Due: npm run format

:sparkles: feat: integrate next-themes package and configure theme toggling
  app/layout.tsx
  app/provider.tsx
  components/ThemeToggler.tsx
  package-lock.json
  package.json
Due: npm run format, prettier --write

:art: style: add custom styling for theme toggler
  app/globals.css
Due: none

:sparkles: feat: implement reusable counter component with 'end' and 'decimals' props
  components/counter-section/Counter.tsx
Due: npm run format

:sparkles: feat: integrate Counter component in Counter section
  components/counter-section/CounterSection.tsx
Due: npm run format

:truck: chore(config): add Prettier configuration rules
  .eslintrc.json
  .prettierrc
Due: prettier --write

:sparkles: feat: integrate CounterSection in the home page
  app/page.tsx
Due: npm run format

:sparkles: feat: integrate Formik and Yup packages
  package-lock.json
  package.json
Due: prettier --write

:sparkles: feat(tailwind): integrate @tailwindcss/forms and update Tailwind CSS configuration
  package-lock.json
  package.json
  tailwind.config.ts
Due: npm run format, prettier --write

:sparkles: feat: implement Contact Us form with Formik and Yup, and add stylings
  app/globals.css
  components/contact-section/ContactForm.tsx
Due: npm run format

:sparkles: feat: integrate Contact Section with Contact Us form and Visual Styles
  components/contact-section/ContactSection.tsx
Due: npm run format

:sparkles: feat: integrate Contact Section with enhanced stylings on the home page
  app/layout.tsx
  app/page.tsx
Due: npm run format

:truck: chore: add mySkillsData array with types
  libs/data.ts
Due: npm run format

:sparkles: feat: implement reusable ProgressBar component
  components/skills-section/ProgressBar.tsx
Due: npm run format

:sparkles: feat: implement Skill Section
  app/page.tsx
  components/skills-section/SkillsSection.tsx
Due: npm run format

:recycle: refactor: refector the ProgressBar component props for meaningful simplicity
  components/skills-section/ProgressBar.tsx
Due: npm run format

:sparkles: feat: introduce Timeline component
  components/shared/Timeline/TimelineList.tsx
  components/shared/Timeline/index.tsx
Due: npm run format

:wrench: fix: correct types for Timeline component
  components/shared/Timeline/index.tsx
Due: npm run format

:sparkles: feat: populate data for Resume section
  libs/data.ts
Due: npm run format

:sparkles: feat: integrate Resume Section component into the home page
  app/page.tsx
  components/resume-section/ResumeSection.tsx
  components/resume-section/ResumeTabs.tsx
Due: npm run format

:art: style: add CSS styling for Resume Section list titles
  app/globals.css
Due: none

:sparkles: feat: include Resume PDF in the public folder
  public/resume/shahadat3669_resume.pdf
Due: none

:sparkles: feat: include required images for About Section
  public/images/about/1.jpg
  public/images/about/2.jpg
  public/images/placeholder.jpg
Due: none

:sparkles: feat: implement About Section component
  app/page.tsx
  components/about-section/AboutSection.tsx
Due: npm run format

:sparkles: feat: implement Footer Section component
  components/footer/Footer.tsx
Due: npm run format

:sparkles: feat: enhance Footer Section with Go-to-Top Icon and Animation
  components/footer/Footer.tsx
Due: npm run format

:sparkles: feat: integrate Footer Section into the Layout
  app/layout.tsx
Due: npm run format

:sparkles: feat: enhance Footer Section with Copyright Text
  components/footer/Footer.tsx
Due: npm run format

:sparkles: feat: adjust Footer Section layout and update Copyright Text
  components/footer/Footer.tsx
Due: npm run format

:sparkles: feat: add my profile image
  public/images/shahadat.png
Due: none

:sparkles: feat: introduce hero section
  app/page.tsx
  components/hero-section/HeroSection.tsx
Due: npm run format

:art: style: add keyframes for mouse wheel scroll
  app/globals.css
Due: none
